[Desktop Entry]
Encoding=UTF-8
Name=Ion Core
Comment=Connect to the Ion P2P Network
Comment[de]=Verbinde mit dem Ion peer-to-peer Netzwerk
Comment[fr]=Ion, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Ion, eşten eşe kriptografik sanal para birimi
Exec=ion-qt %u
Terminal=false
Type=Application
Icon=ion128
MimeType=x-scheme-handler/ion;
Categories=Office;Finance;
