debug
build
Makefile.Release
Makefile.Debug
Makefile
object_script.ionx-Qt.Debug
object_script.ionx-Qt.Release
iom.pro.user
ionx-Qt_plugin_import.cpp
ionx-Qt
qrc_bitcoin.cpp
src/qt/locale/*.qm
release
src/iond*

*.plist
ionx-Qt.app
