build
Makefile.Release
Makefile.Debug
Makefile
object_script.transfer-qt.Debug
object_script.transfer-qt.Release
iom.pro.user
ion-qt_plugin_import.cpp
ion-qt
qrc_bitcoin.cpp
src/qt/locale/*.qm
release
src/iond*
