*.tar.gz

*.exe
src/ion
src/iond

# autoreconf
share/qt/Info.plist

# Compilation and Qt preprocessor part
*.qm
Makefile
ionx-Qt
ionx-Qt.app

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build
