
## <summary>policy for ion</summary>


########################################
## <summary>
##	Transition to ion.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`ion_domtrans',`
	gen_require(`
		type ion_t, ion_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, ion_exec_t, ion_t)
')


########################################
## <summary>
##	Execute ion server in the ion domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ion_initrc_domtrans',`
	gen_require(`
		type ion_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, ion_initrc_exec_t)
')


########################################
## <summary>
##	Search ion lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ion_search_lib',`
	gen_require(`
		type ion_var_lib_t;
	')

	allow $1 ion_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read ion lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ion_read_lib_files',`
	gen_require(`
		type ion_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, ion_var_lib_t, ion_var_lib_t)
')

########################################
## <summary>
##	Manage ion lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ion_manage_lib_files',`
	gen_require(`
		type ion_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, ion_var_lib_t, ion_var_lib_t)
')

########################################
## <summary>
##	Manage ion lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ion_manage_lib_dirs',`
	gen_require(`
		type ion_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, ion_var_lib_t, ion_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an ion environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`ion_admin',`
	gen_require(`
		type ion_t;
		type ion_initrc_exec_t;
		type ion_var_lib_t;
	')

	allow $1 ion_t:process { ptrace signal_perms };
	ps_process_pattern($1, ion_t)

	ion_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 ion_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, ion_var_lib_t)

')

